*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --section-margin-left: 100px;
    --section-width: 1000px;
    --section-bg: orange
}


h1{
    margin-left: var(--section-margin-left);
    background: var(--section-bg);
    width: var(--section-width);
}

p{
    margin-left: var(--section-margin-left);
    background: var(--section-bg);
    width: var(--section-width);
}

img{
    margin-left: var(--section-margin-left);
}


.wrapper{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

input[type="checkbox"]{
    width: 40px;
    height: 40px;
    background: silver;
    display: block;
    appearance: none;
    display: flex;
    justify-content: center;
    position: relative;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    
}

input[type="checkbox"]::after{
    content: "\2713";
    font-size: 40px ;
    position: absolute;
    display: none;
}

input[type="checkbox"]:hover{
    background: rgb(125, 235, 125);
}

input[type="checkbox"]:checked::after{
    display: block;
    font-size: 40px;
    position: absolute;
}